<p>
  <button (click)="goBack()" >BACK</button>  
  <br/>id:{{ game.id }}
  <br/>event:{{ game.event }}
  <br/>fen:{{ game.fen }}
  <br/>pgn:{{ game.pgn }}
  <br/>fen list: {{ game.fenList }}
  <br/>moves:{{ game.moves }}
  
</p>

<section>

    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-examples" role="tabpanel" aria-labelledby="pills-examples-tab">
  
        <h1>Example</h1>
        <div class="row">
          <div class="col">
            <ng2-chessboard #board
              [(position)]="position"
              [orientation]="orientation"
              [showNotation]="showNotation"
              [draggable]="draggable"
              [animation]="animation">
            </ng2-chessboard>
  
            <button (click)="position=game.fen">Change to start position</button>
            <button (click)="doNextMove()">Make move</button>
            <button (click)="position='start'">Reset to the beginning of the game</button>
            <input type="radio" [(ngModel)]="orientation" [value]="true"> White
            <input type="radio" [(ngModel)]="orientation" [value]="false"> Black
            <input type="checkbox" [(ngModel)]="showNotation"/> Notation
            
            <app-ios-style-toggler></app-ios-style-toggler>

            <input type="checkbox" [(ngModel)]="draggable"/> Draggable
            <input type="checkbox" [(ngModel)]="animation"/> Animation
          </div>
        </div>
  
      </div>
  
      <script language="JavaScript">
      
      </script>
  
    </div>
  
  </section>
