.game-item {
    color: black;
    width: 700px;
    height: 150px;
}

.game-item:nth-child(2n+1) {
    background-color: darkgray;
    
}

.game-item:nth-child(2n) {
    background-color: gray;
     
}