List here!

<div *ngFor="let game of games" 
  class="game-item" 
  (click)="gameItemClicked(game.id, game.event, game.fen, game.moves)">
        ID:<span>{{ game.id }}</span><br/>
        Event:<span>{{ game.event }}</span><br/>
        Site: <span>{{ game.site }}</span><br/>
        Date: <span>{{ game.date }}</span><br/>
        Round: <span>{{ game.round }}</span><br/>
        FEN: <span>{{ game.fen }}</span><br/>
        PGN: <span>{{ game.pgn }}</span><br/>
        moves: <span>{{ game.moves }}</span>
    
    <br/>
    <br/>

</div>