<div class='ios-style-toggler'
  (click)="onClicked()">

    <div [ngStyle]="{'visibility': checked ? 'visible' : 'hidden'}" 
      class='ios-style-toggler-text' style='left: 11px; margin-top: 1px; top: -2px'>ON</div>
    
    <div [ngStyle]="{'visibility': checked ? 'hidden' : 'visible'}"
      class='ios-style-toggler-text' style='left: 23px; margin-top: -12px;'>OFF</div>

    <div class='ios-style-toggler-handle'
      [ngClass]="checked ? 'toggler-handle-on' : 'toggler-handle-off'">
    </div>

</div>