

div.ios-style-toggler {
    overflow: visible;
    
    font-size: 11px;
    width: 60px;
    height: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: green;
    border-radius: 2em;
    padding: 2px;
    padding-left: 2px;
    padding-top: 4px;
    background-color: transparent;
    box-sizing: border-box;
    
}


/* the ios style toggler handle */
div.ios-style-toggler-handle {
    position: relative;
    bottom: 7px;

    width: 17px;
    height: 17px;
    border-radius: 1em;
    
    margin-top: -14px;

    -webkit-transition: left 1s; /* For Safari 3.1 to 6.0 */
    transition: left 1s;
}

.toggler-handle-on {
    background-color: red;
    left: 35px;
}

.toggler-handle-off {
    background-color: yellow;
    left: 0px;
}

div.ios-style-toggler-text {
    display: block;
    position: relative;
    bottom: 5px;
    opacity: 1;
    
    font-size: 12px;
    font-weight: bold;
    
    color:white;

    -webkit-transition: opacity 1s; /* For Safari 3.1 to 6.0 */
    transition: opacity 1s;
}


